

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

body {
	background-color: #83b1a0;
	max-width: 100%;
	margin: 0 auto;

}


header a{

}

#header {
	padding: 5px;
	border-top: 2px solid #BE6057;
	border-bottom: 2px solid #BE6057;


}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Inconsolata', sans-serif;
	letter-spacing: 2.5px;
	font-size: 1.5em;
	padding-top: 90px;
}

h1 a{
	text-decoration: none;
	color: #000000;
}

h2 {
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 20px;


}

nav {
	font-family: 'Inconsolata', sans-serif;
	font-size: .9em;
	text-align: center;



}

nav ul li {
	display: inline-block;
	padding: .5em;
	text-decoration: none;
	color: #b0e3d5;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
	letter-spacing: .8px;
	font-size: 1.2em;
	color: #000000;
}

nav a:hover {
	text-decoration: underline;
}

nav a:select {
	text-decoration:underline;
	color: #000000;
}



ul.img-list {
  list-style-type: none;
  margin: 0;
  padding-top: 40px;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 800px;
  margin: 0 1em 1em 0;
	padding-left: 2%;
	position: relative;
  width: 1000px;
	float: none;
}

ul.img-list li p {
  display: inline-block;
	font-family: 'Inconsolata', sans-serif;
	color: #fcfae4;
	line-height: 24px;
  height: 150px;

  position: relative;
  width: 500px;
	padding-bottom:3%;
}


img {
	padding-bottom: 8%;
}
