

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

body {
	background-color: #fffcfc;
	max-width: 65%;
	margin: 0 auto;

}


header a{

}

#header {
	padding: 5px;
	border-top: 2px solid #BE6057;
	border-bottom: 2px solid #BE6057;


}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Inconsolata', sans-serif;
	letter-spacing: 2.5px;
	font-size: 1.5em;
	padding-top: 90px;
	padding-bottom: 10px;
}

h1 a{
	text-decoration: none;
	color: #000000;
}

h2 {
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 20px;


}

#name img {
	width: 300px;

}
nav {
	font-family: 'Inconsolata', sans-serif;
	font-size: .9em;
	text-align: center;



}

nav ul li {
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	color: #b0e3d5;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
	letter-spacing: .8px;
	font-size: .9em;
	color: #000000;
}

nav a:hover {
	text-decoration: underline;
}

nav a:select {
	text-decoration:underline;
	color: #000000;
}

img {
	padding-top: 4%;
}

p {
	padding-top: 4%;
	font-family: 'Inconsolata', sans-serif;
	line-height: 20px;
}

.me{
	display: inline-block;
	padding-bottom:5%;
}


.me-pic {
	width:50%;
	float: left;
}


.me-text {
	display: inline-block;
	width:40%;
	float: left;
	padding-left:3%;
	padding-top:3%;
}

ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
	letter-spacing: .8px;
	font-size: .9em;
	color: #000000;
}

ul li a:hover {
	text-decoration: underline;
}

/* - - - - - - MEDIA QUERY WEEEEEEEE - - - - - -  */


@media (max-width: 1000px) {

	body {
		background-color: #fffcfc;
		max-width: 90%;
		margin: 0 auto;

	}

	nav ul li {font-size: 1em; display: block; padding: none;}

	ul.img-list {
	  list-style-type: none;
	  margin: 0;
	  padding-top: 20px;
	  text-align: center;
	}

	ul.img-list li {
	  display: inline-block;
	  height: 90%;
	  margin: 0 0 0 0;
		padding-top: 20px;
	  position: relative;
	  width: 90%;
	}

	span.text-content {
	  background: rgba(0, 0, 0, 0.7);
	  color: white;
		font-family: 'Inconsolata', sans-serif;
		font-size: 2em;
		padding-top: 20px;
		letter-spacing: 2.5px;
		text-transform: uppercase;
	  cursor: pointer;
	  display: table;
	  height: 500px;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 500px;
		opacity: 0;
		-webkit-transition: opacity 500ms;
	  -moz-transition: opacity 500ms;
	  -o-transition: opacity 500ms;
	  transition: opacity 500ms;
	}

	span.text-content span {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	}

	ul.img-list li:hover span.text-content {
	  opacity: 1;
	}

	img {width: 100%; height: 100%}

}




/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

		#name img {
			width: 90%;

		}

		#header {
			padding: 5px;
			border-top: 2px solid #BE6057;
			border-bottom: 2px solid #BE6057;


		}

		h1 {
			text-align: center;
			text-transform: uppercase;
			font-family: 'Inconsolata', sans-serif;
			letter-spacing: 2.5px;
			font-size: 1.5em;
			padding-top: 90px;
			padding-bottom: 10px;
		}

		h1 a{
			text-decoration: none;
			color: #000000;
		}

		h2 {
			font-size: 1.5em;
			text-transform: uppercase;
			text-align: center;
			font-family: 'Inconsolata', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			padding-bottom: 20px;


		}

nav {
		padding-top: 5%;
}

		nav ul li {
			display: inline-block;
			padding: 1.5em;
			padding-top: 3%;
			text-decoration: none;
			color: #b0e3d5;
		}

		nav a {
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Inconsolata', sans-serif;
			font-weight: 700;
			letter-spacing: .8px;
			font-size: 1.8em;
			padding-top: 3%;
			color: #000000;
		}

		nav a:hover {
			text-decoration: underline;
		}

		nav a:select {
			text-decoration:underline;
			color: #000000;
		}



	body {
		background-color: #fffcfc;
		max-width: 100%;
		margin: 0 auto;

	}

	nav ul li {font-size: 1em; display: block; padding: none;}

	ul.img-list {
		list-style-type: none;
		margin: 0;
		padding-top: 20px;
		text-align: center;
	}

	ul.img-list li {
		display: inline-block;
		height: 500px;
		margin: 0 0 0 0;
		padding-top: 20px;
		position: relative;
		width: 500px;
	}

	span.text-content {
		background: rgba(0, 0, 0, 0.7);
		color: white;
		font-family: 'Inconsolata', sans-serif;
		font-size: 2em;
		letter-spacing: 2.5px;
		text-transform: uppercase;
		cursor: pointer;
		display: table;
		height: 500px;
		left: 0;
		position: absolute;
		top: 0;
		width: 500px;
		opacity: 0;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms;
	}

	span.text-content span {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	ul.img-list li:hover span.text-content {
		opacity: 1;
	}

	img {width: 100%; height: 100%}

	}
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	#name img {
		width: 90%;

	}

	#header {
		padding: 5px;
		border-top: 2px solid #BE6057;
		border-bottom: 2px solid #BE6057;


	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		font-family: 'Inconsolata', sans-serif;
		letter-spacing: 2.5px;
		font-size: 1.5em;
		padding-top: 90px;
		padding-bottom: 10px;
	}

	h1 a{
		text-decoration: none;
		color: #000000;
	}

	h2 {
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Inconsolata', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		padding-bottom: 20px;


	}

nav {
	padding-top: 5%;
}

	nav ul li {
		display: inline-block;
		padding: 1.5em;
		padding-top: 3%;
		text-decoration: none;
		color: #b0e3d5;
	}

	nav a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Inconsolata', sans-serif;
		font-weight: 700;
		letter-spacing: .8px;
		font-size: 1.8em;
		padding-top: 3%;
		color: #000000;
	}

	nav a:hover {
		text-decoration: underline;
		padding-top: 3%;
	}

	nav a:select {
		text-decoration:underline;
		color: #000000;
	}



body {
	background-color: #fffcfc;
	max-width: 100%;
	margin: 0 auto;

}
