/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */



body {
	background-color: #fc9e49;	
	width: 90%;
	margin: 0 auto;
}



/* ------------------------ HEADER ------------------------ */

h1 {
	font-size: 2.5em;
	color: white;
	font-family: 'cooper_blackregular','Helvetica';
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

}


h1 a {

	text-decoration: none;
	color: white;
	letter-spacing: 2px;
}


h2 {
	font-size: 1.5em;
	color: white;
	font-family: 'Helvetica';
	font-style: italic;
	padding-bottom: 10px;
	text-align: center;

}

.nav {
	padding-top: 20px;
	text-align: center;
	margin: 0 auto;
	list-style: none;
	padding-bottom: 3px;
}

							.nav li {
								padding-right: 1.5em;
								font-family: Helvetica;
								font-size: 1.2em;
								display: inline;


							}

							.nav a {

								text-decoration: none;
								display: inline-block;
								color: #FF1D4D;

							}

							.nav a:hover {

								text-decoration: none;
								display: inline-block;
								color: #FF1D4D;
								border-bottom: 2px solid #FF1D4D; 

							}

							.selected a {

								text-decoration: none;
								display: inline-block;
								color: #FF1D4D;
								border-bottom: 2px solid #FF1D4D;
								padding:3px;


							}



#bigpic img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	padding-top: 40px;

}

.info {
	display: block;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.3em;
	padding-top: 40px;
	color: white; 
	width: 60%;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;

}

em {
	font-style: italic;

}


.info-indepth {
	display: block;
	float: left;
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
	padding-top: 40px;
	color: white; 
	width: 40%;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
}


.dog-sidebar {
	display: block;
	float: left;
	width: 27%;
	padding-top: 50px;


}

.dog-sidebar ul li {

	padding-bottom: 30px;



}

.dog-sidebar ul li img {

	width: 300px;


}



a {
	text-decoration: none;
	color: #FF1D4D;
	text-align: center;

}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}



footer a {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.3em;
}

.sources a {
	font-family: 'Helvetica', sans-serif;
	font-size: 1.3em;
}

.sources {
	padding-top: 30px;

}

.sources p {
		padding-bottom: 10px;
}













@font-face {
    font-family: 'cooper_blackregular';
    src: url('fonts/cooper_black-webfont.eot');
    src: url('fonts/cooper_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cooper_black-webfont.woff2') format('woff2'),
         url('fonts/cooper_black-webfont.woff') format('woff'),
         url('fonts/cooper_black-webfont.ttf') format('truetype'),
         url('fonts/cooper_black-webfont.svg#cooper_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

