

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

body {
	background-color: #FEF6F4;
	max-width: 65%;
	margin: 0 auto;

}


header {
	margin: 0 auto;
	display: block;
	font-family: 'quicksandbold', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	padding: 10px;
	border-top: 2px solid #BE6057;
	border-bottom: 2px solid #BE6057;
	margin-top: 20px;
}

#header {
	padding: 5px;
	border-top: 2px solid #BE6057;
	border-bottom: 2px solid #BE6057;


}
nav {
	font-family: 'quicksandbold', sans-serif;
	font-size: .9em;
	text-align: center;


}

nav ul li {
	display: inline-block;
	padding: 1em;
}



h2 {
	text-align: center;
	text-shadow: 6px 3px 1px rgba(190,96,87,0.3);
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
	font-size: 1.5em;
	font-family: 'quicksandbold', sans-serif;
	text-transform: uppercase;
	color: #BE6057;
	text-align: center;
	padding-bottom: 20px;


}


#ingredients {
	padding-top: 40px;
	padding-bottom: 20px;
	padding-bottom: 5px;
}

#ingredients ul {
	display: inline;
	margin: 0 auto;


}


#ingredients ul li {
	padding-bottom: 5px;
	font-family: 'Georgia';
	font-style: italic;


}


							#ingredients #side1 {
								display: inline-block;
								text-align: right;
								float:left;
								padding-right: 20px;
								clear: both;
								width: 48%;


							}

							#ingredients #side2 {
								display: inline-block;
								float: left;
								width: 48%;


							}











#instructions {
	display: block;
	float: left;
	padding-top: 30px;
	font-family: 'Georgia';
	line-height: 150%;

}

#instructions ol {
	max-width: 80%;
	margin: 0 auto;

}

#instructions span {
	float: left;
	font-family: 'quicksandbold';
	line-height: 150%;
	padding-right: 5px;

}

#instructions li {
	display: block;
	font-family: 'Georgia';
	padding-bottom: 5px;

}



footer {
	width: 100%;
	font-family: 'Georgia';
	font-style: italic;
	font-size: .8em;
	text-align: center;
	display: block;
	line-height: 200%;
	float: left;
	padding-bottom: 10px;
	padding-top: 30px;
	border-bottom: 2px solid #BE6057;
	margin-bottom: 10px; 
}



#links {
	padding-top: 15px;
	margin: 0 auto;
	font-size: .8em;
	text-align: center;
	border-top: 2px solid #BE6057;
	margin-top: 5px;
	width: 89%; 
	clear: both;
}

#links a {
	text-decoration: none;
	font-family: 'quicksandbold';
	padding: 1em;
	text-transform: uppercase;
	color: #BE6057;


}

















@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'quicksandbold';
    src: url('fonts/quicksand-bold-webfont.eot');
    src: url('fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicfonts/ksand-bold-webfont.woff2') format('woff2'),
         url('fonts/quicksand-bold-webfont.woff') format('woff'),
         url('fonts/quicksand-bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'quicksanditalic';
    src: url('fonts/quicksand-italic-webfont.eot');
    src: url('fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('fonts/quicksand-italic-webfont.woff') format('woff'),
         url('fonts/quicksand-italic-webfont.ttf') format('truetype'),
         url('fonts/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
