

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;

}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* END RESET */





/* CSS BEGINS HERE OR FUCK OFF */









html {
	background-color: #101C24;

	}



body {
	width: 95%;
	margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    color: white;

	}


/* ----------------------------------  HEADER NAV STUFFS  ---------------------------------- */


header {
	display: block;
	margin: 0 auto;
	padding-top: 40px;
	font-weight: 200;
	color: white;
	text-align: center;
	text-transform: uppercase;	

	}



#home-logo a {
	display: inline-block;
	color: white;
	font-size: 2.5em;
	letter-spacing: 3px;
	border: 2px solid white;
	padding: 8px;
	text-decoration: none;	

	}



#home-logo a:hover {
	color: #101C24;
	background-color: white;
	text-decoration: none;
	}

#burger-nav {
	display: none;
}



#planet-logo a {
	display: inline-block;
	color: white;
	font-size: 1.5em;
	letter-spacing: 3px;
	border: 2px solid white;
	padding: 8px;
	text-decoration: none;
	width: 300px;	

	}



#planet-logo a:hover {
	color: #101C24;
	padding: 8px;
	background-color: white;
	text-decoration: none;
	}




header h3 {
	padding-top: 20px;
	font-size: 1.5em;
	letter-spacing: 1px;

}


.test {
	padding-top: 20px;
	font-size: 1em;
	letter-spacing: 1px;

}


#long-nav {
	display: inline-block;
	margin: 0 auto;
	padding-top: 20px;
}

#long-nav li {
    display:inline;
}

#long-nav a {
	padding: 5px;
	display: inline-block;
	float: left;
	font-size: .8em;
	width: 5.7em;
	color: white;
	text-decoration: none;

}


#long-nav ul a:hover {
	text-decoration: underline;
}

#long-nav .active a {
	font-weight: 700;
	background-color: white;
	color: #101C24;
}

#long-nav .active a:hover {
	text-decoration: none;
}



/* ----------------------------------  PLANET STUFFS  ---------------------------------- */


#planet-image {
	padding-top: 10px;
	width: 300px;
	margin: 0 auto;


}

			#planet-image-saturn {
				padding-top: 10px;
				width: 550px;
				margin: 0 auto;


			}

.names {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: white;
	padding: 20px;
}

#planet-name {
	font-size: 2em;
	text-transform: uppercase;
}

#planet-nickname {
	padding-top: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}


.about-planet {
	border-top: 2px solid white;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 600px;
	margin: 0 auto;
	color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	line-height: 140%;

}

#summary {
	padding-bottom: 25px;
}

em {
    font-weight: 700;
    line-height: 250%;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: 1px;
	margin-bottom: 10px;
}



#quizlet {
	padding-top: 10px;
	margin-top: 20px;
	border-top: 2px solid white;

}

#quizlet h4 {
    font-size: 1em;
    text-align: center;

}


#quizlet h3 {
	padding-top: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    text-align: center;

}

#quizlet h3 span{
	padding-top: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #101C24;
    font-size: 1em;
    text-align: center;

}

#quizlet h3 span:hover {
    color: #8cd600;
    font-size: 1em;

}

.question {

	text-transform: uppercase;

}




#planets { 
	display: block;
	padding-top: 150px;
	}

#planets a :hover { 
	-webkit-transform: scale(1.1);
	}


				#sun {
					float: left;
					width: 35%;
					}




				#mercury {
					float: left;
					padding-top: 15%;
					width: 3%;
					}



				#venus {
					float: left;
					padding-top: 15%;					
					width: 3%;
					}



				#earth {
					float: left;
					padding-top: 16%;					
					width: 3%;
					}


				#mars {
					float: left;
					padding-top: 14%;					
					width: 3%;
					}

				#jupiter {
					float: left;
					padding-top: 12%;						
					padding-left: 1%;
					width: 9%;

					}

				#saturn {
					float: left;
					padding-top: 10%;										
					width: 22%;
					}

				#uranus {
					float: left;
					padding-top: 13%;					
					width: 7%;

					}


				#neptune {
					float: left;
					padding-top: 11%;
					width: 6%;
					}

				#pluto {
					float: left;
					padding-top: 13%;					
					width: 3%;

					}



/* ----------------------------------  MEDIA QUERY  ---------------------------------- */


/* ------------------  HOME PAGE  ------------------ */

@media (max-width: 1200px) {
  .facet_sidebar {
    display: none;
  }


#home-logo a {
	float: left;
	font-size: 4em;	
	width: 90%;
	
	}



header h3 {
	font-size: 1em;
	clear: both;

}


#planets { 
	display: block;
	padding-top: 30px;
	float: none;
	}



#sun { width: 50%; float: none; padding-top: 0px; margin: 0 auto; }
#mercury { width: 30%; float: none; padding-top: 0px; margin: 0 auto; }
#venus { width: 30%; float: none; padding-top: 0px; margin: 0 auto; }
#earth { width: 30%; float: none; padding-top: 0px; margin: 0 auto; }
#mars { width: 30%; float: none; padding-top: 0px; margin: 0 auto; }
#jupiter { width: 35%; float: none; padding-top: 0px; margin: 0 auto; }
#saturn { width: 60%; float: none; padding-top: 0px; margin: 0 auto; }
#uranus { width: 25%; float: none; padding-top: 0px; margin: 0 auto; }
#neptune { width: 25%; float: none; padding-top: 0px; margin: 0 auto; }
#pluto { width: 25%; float: none; padding-top: 0px; margin: 0 auto; }

 



/* ------------------  PLANET PAGES  ------------------ */


.top { margin: 0 auto;}

#planet-logo a {
	font-size: 4em;	
	width: 80%;
	float: left;
	}

#long-nav { display: none;}


#burger-nav {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}


#burger-nav li ul {
	display:none;
	position:absolute;
	top:30px;
	left:-41px;
}

 #burger-nav li:hover ul {
	display:block;
    background-color: white;
   	width: 70%; 
   	margin: 0 auto;
   	margin-left: 21.5%;
   	margin-top: 110px;

	
}

#burger-nav li ul li{ 
   	width: 80%; 
    display:inline-block;  
    text-align:center;
    padding: 10px 17px 0px 17px;  
    margin-right:10px;  
    margin-left:10px;  
    margin-top:7px;  

}

#burger-nav li ul li a{  
	text-decoration: none;
    color: #101C24;
    font-size: 5em;

}

.about-planet { width: 97%; font-size: 1.8em;}


}



