

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;

}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* END RESET */


/* CSS BEGINS HERE OR FUCK OFF */

@font-face {
    font-family: 'league_gothicregular';
    src: url('fonts/league_gothic-webfont.eot');
    src: url('fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/league_gothic-webfont.woff2') format('woff2'),
         url('fonts/league_gothic-webfont.woff') format('woff'),
         url('fonts/league_gothic-webfont.ttf') format('truetype'),
         url('fonts/league_gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body { 
	margin: 0 auto;
	width: 90%;
	font-family: Georgia; }


header {
	width: 90%;
    display: block;
    margin: auto;
    text-align: center;
}


		#logo {
			display: inline-block;
			margin: 0 auto;

		}

				header h1 {
					float: left;
					font-size: 7em;
					font-family: 'league_gothicregular';
					text-transform: uppercase;
				}

				#vs {
					float: left;
					margin-top: 15px;				
					border-top: 4px;
					border-bottom: 4px;
					border-style: solid;
					border-color: #a5a39e;
					padding: 5px;

				}

				header h2 {
					font-size: 3.5em;
					font-family: Georgia; 
					color: #a5a39e;
					font-style: italic;
					border-style: solid;
   					border-width: 2px 0px 2px 0px;
				}

		nav {
			clear: both;
			text-align: center;
			border-top: 3px solid black;
			border-bottom: 3px solid black;
			padding-top: 10px;
			padding-bottom: 10px;


		}

				#hamburger img {
					display:none;

				}

				nav ul li {
					list-style:none;
					display:inline;
					font-size: 23px;
					font-weight: bold;
					margin:10px;
					padding:10px 0px 10px 0px;

				}

				nav ul li a {
					font-family:Georgia;
					color:black;
					text-transform:uppercase;
					text-decoration:none;

				}


#content {
	max-width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
		
			#content img {
				margin: 0 auto;
				max-width: 100%
			}

		
			#content h2 {
				font-size: 23px;
				font-weight: bold;
				line-height: 30px;
				padding: 5px 0px 10px 0px;
			}
			

			.dogs {
				line-height: 20px;
				float: left;
				max-width: 48%;
				margin: 0 1%;
				padding-bottom: 10px;

			}

			.cats {
				line-height: 20px;
				float: right;
				max-width: 48%;
				margin: 0 1%;
				padding-bottom: 10px;
			}




footer {
	clear: both;
	max-width: 90%;
	margin: 0 auto;

}

		#wiki {
			float: left;
		}

		#martha {
			float: right;

		}



/* - - - - - - MEDIA QUERY WEEEEEEEE - - - - - -  */



@media (max-width: 1000px) {

	nav ul li {font-size: 1em}

	img {max-width: 100%; max-height: 100%}
	.dogs { float: none; max-width: 90%; margin: 0 auto;}
	.cats { float: none; max-width: 90%; margin: 0 auto;}

	#wiki { margin-top: 5px; font-size: .75em}	
	#martha { float: right; margin-top: 5px; font-size: .75em}




@media (max-width: 700px) {

	body { width: 97%;	}

	#logo {font-size: .8em;}

	#hamburger img { display:inline-block; height:30px; }

	#hamburger {height: 80px; background-color: blue;}

	#hamburger:hover ul {display: block; background-color: red;}

	nav ul li {display:none; font-size: 1em; margin: .5%; padding: 3px 0px 10px 0px;}
			.bullet { display: none; }


	hr { height: 2px; background-color: black; }
	

	img {max-width: 100%; max-height: 100%}

	#content { max-width: 97%; }
	#content h2 { font-size: 1em; padding: 3px 0px 3px 0px;}

	.dogs { float: none; max-width: 90%; margin: 0 auto;}
	.cats { float: none; max-width: 90%; margin: 0 auto;}

	#wiki { margin-top: 5px; font-size: .75em}	
	#martha { float: left; margin-top: 5px; font-size: .75em}



}













/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


